.contenedor
{
  display: flex;
  flex-direction: row;
  }
  #contenido
  {
    display: flex;
    flex-direction: column;
  }
  #destacados .contenedor>div
  {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: white;
    width: 50%;
  }
#ofertas .contenedor>div
{
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: white;
  width: 33.3%;
}
#disponibles .contenedor> div
{
  text-align: center;
  padding: 10px;
  border:solid 5px coral;
  background-color: white;
  width: 25%
}
